body{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
  
}

/* Ejemplo de personalización de Bootstrap */
.navbar-brand {
    font-weight: bold;
}
 
.card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 
/* Estilos para el formulario de login */
.card.shadow-sm {
    border: none;
    transition: transform 0.2s;
}
 
.card.shadow-sm:hover {
    transform: translateY(-5px);
}
 
.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
}
 
.input-group .form-control {
    border-left: none;
}
 
.input-group .form-control:focus {
    border-color: #dee2e6;
    box-shadow: none;
}
 
.input-group .form-control:focus + .input-group-text {
    border-color: #dee2e6;
}
 
.btn-primary {
    padding: 0.8rem;
}
 
/* Puedes agregar más estilos personalizados aquí */
